input {
    margin: 5px 0px;
    display: block;
}

.hors-forfait {
    display: none;
}

#popup-info {
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #e79393;
    visibility: hidden;
    min-height: 20px;
    display: block;
}