{% extends 'base.html.twig' %}

{% block title %}Intranet GSB
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block body %}

    {% include "layouts/pageindic.html.twig" with {'page_indic':'Panneau d\'administration'} %}

    <h2>Gestion des membres</h2>

    <h3>Ajouter un utilisateur</h3>

    {{ form(registerForm) }}

        
{% endblock %}
