{% extends 'base.html.twig' %}

{% block title %}Intranet GSB
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
{% endblock %}

{% block body %}

    {% include "layouts/pageindic.html.twig" with {'page_indic':'Login'} %}

    {% if err == "nouser" %}
        <p>Pas d'utilisateur à ce nom.</p>
    {% elseif err == "wrgpass" %}
        <p>Mauvais mot de passe.</p>
    {% elseif err == "accsden" %}
        <p>Accès refusé, loggez vous.</p>
    {% endif %}

    <h3>Connectez vous</h3>
    {{ form(userLoginForm) }}

{% endblock %}