{% extends 'base.html.twig' %}

{% block title %}Panel VISITEUR
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="visiteur.css">
{% endblock %}

{% block body %}

    {% include "layouts/pageindic.html.twig" with {'page_indic':'Panel : Visiteur'} %}

    <a href="{{ path('logout') }}">
        <button type="button">Test deconnexion</button>
    </a>
{% endblock %}
