<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

{# include : HEADER #}
{% include "layouts/header.html.twig" %}

{# block : BODY (content) #}
<div class="content">
    {% block body %}
    {% endblock %}
</div>

{# block : JS scripts #}
{% block javascripts %}{% endblock %}

</body>
</html>
